/*=============================================
=        Section Fonctionnement              =
=============================================*/

.block {
    @include box-form;
    align-items: center;
    background-color: $light-gray;         
    display: flex;
    height: 4.6875rem;
    justify-content: center;    
    margin-top: 1.56rem;
    position: relative;
    transition: background-color 500ms;
    width: 98%;       
    @include tablet-only {
        align-items: flex-end;
        margin-top: 2.125rem;               
        padding-bottom: 0.9375rem;
        width: 13.75rem;
    }
    @include desktop-only {
        width: 23rem;
    }     
    &__bubble {
        left: -0.625rem;
        position: absolute;
        @include tablet-only {
            left: 0.9375rem;
            top: -0.625rem;
        }         
    }
    &__icon {
        color: $anthracite-gray;        
        font-size: 1.25rem;
        margin-left: -13.3rem;
        position: absolute;
        @include tablet-only {
            margin-bottom: 1.8rem;
            margin-left: 0;
        }
    }
    &__info {
        font-size: $font-size-small;
        font-weight: 700;
    }         
}