.block {
    @include box-form;
    align-items: center;
    background-color: $light-gray;         
    display: flex;
    height: 4.6875rem;
    justify-content: center;    
    margin-top: 1.56rem;
    position: relative;
    &__bubble {
        margin-left: -20.9375rem;
        position: absolute;
        
    }
    &__icon {
        margin-left: -15.625rem;
        position: absolute;
        font-size: 1.25rem;
        color: $anthracite-gray;
    }
    &__info {
        font-size: $font-size-small;
        font-weight: 700;
    }    
}