/*====================================================
=   Cartes restaurant ( imgs - textes - icons )     =
====================================================*/

.box {
   @include box-form;     
   position: relative;
   
   &__heading{             
      padding: 1.25rem 2.19rem 1.25rem 0.94rem;
   }     
   &__img {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      height: 10.95rem;
      object-fit: cover;
      width: 100%;
   }   
   &__like {
      height: 3.125rem;
      position: relative;
      width: 3.125rem;
   }
   &__new {
      border-radius: 0.2rem;
      position: absolute;
      right: 0.7rem;
      top: 0.9rem;
   }
   &__subtitle {
      font-size: $font-size-medium;       
   }
   &__title {      
      font-size: $font-size-medium;
      font-weight: 700;      
   }      
   &--menu {
      align-items: center;
      background-color: $white;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 1.25rem;
      @include tablet-only {
         width: 48.5%;
      }
   }
}