.container {
    @include padding-pages;
    
    &__button {
        @include button;
        padding: 1.25rem;
    }
    &__city {
        font-size: $font-size-small;
        font-weight: 700;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
    }
    &__icon {
        margin-right: 0.75rem;
    }
    &__subtitle {
        font-size: $font-size-medium;
        margin-bottom: 1.875rem;
    }
    &__title {
        font-size: $font-size-larger;
        font-weight: 700;        
        &--align {
            margin: 0 2.1875rem 1.25rem 2.1875rem;
        }
        @include tablet-only {
            width: 90%;
        }        
    }         
    &--localisation {
        background-color: $gray;
        box-shadow: 0 0.1875rem 0.125rem 0 $shadow-gray inset;        
        text-align: center;
    }
    &--operation {        
        padding-bottom: 4.375rem;        
        padding-top: 3.125rem;
        @include tablet-only {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;            
        }     
    }
    &--reservation {
        background-color: $light-gray ;
        padding-bottom: 3.75rem;
        padding-top: 2.5rem;
        text-align: center;        
    }
    &--restaurants {
        background-color: $gray;
        padding-bottom: 4.0625rem;
        padding-top: 3.75rem;
        @include tablet-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }    
}