@font-face {
	src: url("../webfonts/Roboto-Regular.ttf") format("truetype");
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;	
}

@font-face {
	src: url("../webfonts/Roboto-Bold.ttf") format("truetype");
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;	
}

@font-face {
	src: url("../webfonts/Shrikhand-Regular.otf") format("truetype");
	font-family: "Shrikhand";
	font-style: normal;
	font-weight: 400;	
}