@font-face {
	src: url("p3-dynamisez_une_page_web_avec_des_animations_css/styles/webfonts/Roboto-Regular") format("truetype");
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;	
}

@font-face {
	src: url("p3-dynamisez_une_page_web_avec_des_animations_css/styles/webfonts/Roboto-Bold") format("truetype");
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;	
}

@font-face {
	src: url("p3-dynamisez_une_page_web_avec_des_animations_css/styles/webfonts/Shrikhand-Regular") format("truetype");
	font-family: "Shrikhand";
	font-style: normal;
	font-weight: 400;	
}