.bubble {
    align-items: center;
    background-color: $purple;    
    border-radius: 50%;
    color: $white;
    display: flex;
    height: 1.70rem;
    justify-content: center;
    width: 1.70rem;
}