.menu {    
    align-items: center;
    background-color: $gray;     
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;      
    display: flex;
    flex-direction: column;      
    justify-content: space-between;    
    margin-top: 13.125rem; // 210px    
    position: relative;
    &__account {
        font-size: $font-size-medium;
        font-weight: 700;
        width: 100%;
    }
    &__button {
        @include button;
        padding: 1rem 3.125rem;
        margin: 1rem 0 3.75rem;         
    }
    &__check-icon {
        color: $white;
        font-size: 1.6rem;
        align-items: center;
        display: flex;
        justify-content: center;    
        transform: rotate(180deg);
        transition-duration: .5s;  
    }        
    &__content {
        @include box-form;             
        background-color: $white;
        margin-bottom: 1rem;                
        padding: 0.9375rem 1.25rem 0.9375rem 0.625rem ;
        width: 21.875rem; // 350px
        display: flex;
    }
    &__heading {        
        font-size: $font-size-xsmall;        
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex: 1;
    }           
    &__icon {
        font-size: $font-size-larger;
        margin-right: 1rem;       
    }
    &__img {        
        position: absolute;                       
    }
    &__meal {
        margin-bottom: 1rem;
    }
    &__price {
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    &__sidebar {
        align-items: center;
        background: $green;
        display: flex;
        justify-content: center;
        margin: -1rem -5rem -1rem 1rem;
        width: 3.125rem;
        transition-duration: .5s;
    }
    &__subtitle {
        font-size: $font-size-medium;        
    }       
    &__title {
        display: flex;
        font-family: "Shrikhand";
        font-size: $font-size-xlarge;
        justify-content: space-between;        
        margin: 2.5rem 0;
        width: 21.875rem;
    }
    &__underline {
        background-color: $green;
        height: 0.1875rem;
        margin-bottom: 1rem;
        width: 2.5rem;       
    }
}