/*=============================================
=               Pages Menu                   =
=============================================*/

.menu {    
    align-items: center;
    background-color: $gray;     
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;      
    display: flex;
    flex-direction: column;      
    justify-content: space-between;    
    margin-top: 13.125rem; // 210px    
    position: relative;
    @include desktop-only {
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20rem;
        justify-content: space-around;
    }        
    &__account {
        flex: 1;
        font-size: $font-size-medium;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    &__button {
        @include button;
        padding: 1rem 3.125rem;
        margin: 1rem 0 3.75rem;         
    }
    &__check-icon {        
        align-items: center;
        color: $white;
        display: flex;
        font-size: 1.6rem;       
        justify-content: center;
    }                          
    &__content {
        @include box-form;             
        background-color: $white;
        display: flex;
        margin-bottom: 1rem;                
        padding: 0.9375rem 1.25rem 0.9375rem 0.625rem ;
        overflow: hidden;        
        width: 21.875rem; // 350px
    }
    &__heading {        
        flex: 1;
        font-size: $font-size-xsmall;
        width: 13.625rem;      
    }           
    &__icon {
        font-size: $font-size-larger;
        margin-right: 1rem;               
    }
    &__img {        
        position: absolute;
        @include desktop-only {
            height: 55rem;
            object-fit: cover;
            width: 75rem;                     
        }                       
    }
    &__meal {
        margin-bottom: 1rem;
    }
    &__price {
        align-items: flex-end;
        display: flex;
        font-weight: 700;
        justify-content: flex-end;
    }
    &__sidebar {
        align-items: center;
        background: $green;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        justify-content: center;
        margin: -1rem -5.3rem -1rem 1rem;        
        transition-duration: .5s; // animation encart
        width: 4rem;                                       
    }         
    &__subtitle {
        font-size: $font-size-medium;        
    }
    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;         
    }       
    &__title {
        display: flex;
        font-family: "Shrikhand";
        font-size: $font-size-xlarge;
        justify-content: space-between;        
        margin: 2.5rem 0;
        width: 21.875rem;
        @include desktop-only {            
            margin: 2.5rem 2.5rem;
            width: 95%;
        }    
    }
    &__underline {
        background-color: $green;
        height: 0.1875rem;
        margin-bottom: 1rem;
        width: 2.5rem;       
    }
}